openapi: 3.0.3
info:
  title: Eat App Platform Concierge - Availability Concierge - Reference API
  description: 'Eat App is a restaurant reservation and table management platform. This document models its two documented, partner/key-gated REST surfaces plus a small honestly-modeled table-management surface:

    1. Partner API (base /partners/v2) - for booking channels to read availability and post reservations.

    2. Concierge API (base /concierge/v2) - for restaurants, vendors, and groups to sync reservations, guests, availability, and reference data (resources, groups, restaurants). Requests are scoped with X-Group-ID and X-Restaurant-ID headers and can be created idempotently via an idempotency_token.

    3. Tables and Floor Plans (base /concierge/v2) - MODELED. No public tables or floorplan endpoints are documented; these operations are honestly modeled on Eat App''s documented resource conventions and should be confirmed with a partner API key before use.

    All responses follow a JSON:API-style structure (data objects carrying id, type, and attributes). Every request is authenticated with a Bearer token (the API key Eat App issues to a partner or Concierge user). The sandbox host is https://api.eat-sandbox.co and production is https://api.eatapp.co. Endpoints are rate limited to roughly 60 requests per minute.'
  version: '2.0'
  contact:
    name: Eat App
    url: https://eatapp.co
servers:
- url: https://api.eatapp.co
  description: Production
- url: https://api.eat-sandbox.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Concierge - Reference
  description: Concierge bootstrap data - resources, groups, restaurants.
paths:
  /concierge/v2/resources:
    get:
      operationId: getConciergeResources
      tags:
      - Concierge - Reference
      summary: Get reference data
      description: Loads reference data used for dropdowns and validation (e.g. reservation statuses, sources, tags). Confirmed from the public Concierge docs.
      responses:
        '200':
          description: A JSON:API document of reference resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /concierge/v2/groups:
    get:
      operationId: listConciergeGroups
      tags:
      - Concierge - Reference
      summary: List accessible groups
      description: Lists the groups the authenticated Concierge user can access.
      responses:
        '200':
          description: A JSON:API document of groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /concierge/v2/restaurants:
    get:
      operationId: listConciergeRestaurants
      tags:
      - Concierge - Reference
      summary: List restaurants in a group
      description: Lists restaurants within a group. Requires the X-Group-ID header. Confirmed from the public Concierge docs.
      parameters:
      - $ref: '#/components/parameters/GroupIdHeader'
      responses:
        '200':
          description: A JSON:API document of restaurants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    GroupIdHeader:
      name: X-Group-ID
      in: header
      required: true
      schema:
        type: string
      description: Scopes the request to a specific group.
  responses:
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    ResourceObject:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
    GenericResponse:
      type: object
      properties:
        data:
          oneOf:
          - $ref: '#/components/schemas/ResourceObject'
          - type: array
            items:
              $ref: '#/components/schemas/ResourceObject'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (the API key Eat App issues to a partner or Concierge user). Sent as Authorization: Bearer <api_token>.'
