openapi: 3.2.0
info:
  title: Eat App Platform Concierge - Availability API
  description: Eat App is a restaurant reservation and table management platform.
  version: '2.0'
  contact:
    name: Eat App
    url: https://eatapp.co
servers:
- url: https://api.eatapp.co
  description: Production
- url: https://api.eat-sandbox.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Concierge - Availability
  description: Concierge bookable time-slot lookups over a date range.
paths:
  /concierge/v2/availability/range:
    post:
      operationId: getConciergeAvailabilityRange
      tags:
      - Concierge - Availability
      summary: Query availability over a date range
      description: Returns bookable time slots for a restaurant across a date range. Requires the X-Restaurant-ID header. Confirmed from the public Concierge docs.
      parameters:
      - $ref: '#/components/parameters/RestaurantIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityRangeInput'
      responses:
        '200':
          description: A JSON:API document of available slots.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
components:
  responses:
    ValidationError:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    RestaurantIdHeader:
      name: X-Restaurant-ID
      in: header
      required: true
      schema:
        type: string
      description: Scopes the request to a specific restaurant.
  schemas:
    AvailabilityRangeInput:
      type: object
      required:
      - start_date
      - end_date
      - guests
      properties:
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        guests:
          type: integer
    AvailabilityResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
                example: availability
              attributes:
                type: object
                properties:
                  time:
                    type: string
                  available:
                    type: boolean
                  preference_id:
                    type: string
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (the API key Eat App issues to a partner or Concierge user). Sent as Authorization: Bearer <api_token>.'
