openapi: 3.2.0
info:
  title: Eat App Platform Concierge - Guests API
  description: Eat App is a restaurant reservation and table management platform.
  version: '2.0'
  contact:
    name: Eat App
    url: https://eatapp.co
servers:
- url: https://api.eatapp.co
  description: Production
- url: https://api.eat-sandbox.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Concierge - Guests
  description: Concierge guest search and profile retrieval.
paths:
  /concierge/v2/guests:
    get:
      operationId: searchConciergeGuests
      tags:
      - Concierge - Guests
      summary: Search guests
      description: Searches the guest CRM by query parameter. Requires the X-Restaurant-ID header. Confirmed from the public Concierge docs.
      parameters:
      - $ref: '#/components/parameters/RestaurantIdHeader'
      - name: query
        in: query
        required: false
        schema:
          type: string
        description: Free-text guest search (name, phone, email).
      responses:
        '200':
          description: A JSON:API document of matching guests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /concierge/v2/guests/{guest_id}:
    get:
      operationId: getConciergeGuest
      tags:
      - Concierge - Guests
      summary: Get a guest
      description: Retrieves an individual guest profile by id.
      parameters:
      - name: guest_id
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/RestaurantIdHeader'
      responses:
        '200':
          description: The requested guest profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuestResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    RestaurantIdHeader:
      name: X-Restaurant-ID
      in: header
      required: true
      schema:
        type: string
      description: Scopes the request to a specific restaurant.
  schemas:
    GuestListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ResourceObject'
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
    GuestResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceObject'
    ResourceObject:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (the API key Eat App issues to a partner or Concierge user). Sent as Authorization: Bearer <api_token>.'
