openapi: 3.2.0
info:
  title: Eat App Platform Partner - Reservations API
  description: Eat App is a restaurant reservation and table management platform.
  version: '2.0'
  contact:
    name: Eat App
    url: https://eatapp.co
servers:
- url: https://api.eatapp.co
  description: Production
- url: https://api.eat-sandbox.co
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Partner - Reservations
  description: Partner API reservation creation.
paths:
  /partners/v2/reservations:
    post:
      operationId: createPartnerReservation
      tags:
      - Partner - Reservations
      summary: Post a reservation (Partner)
      description: Creates a reservation for a restaurant on behalf of a booking channel. Confirmed from the public Partner API documentation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerReservationInput'
      responses:
        '201':
          description: The created reservation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    ValidationError:
      description: The request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests (approximately 60 requests per minute).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    GuestInput:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        email:
          type: string
    ReservationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ResourceObject'
    PartnerReservationInput:
      type: object
      required:
      - restaurant_id
      - date
      - time
      - guests
      properties:
        restaurant_id:
          type: string
        date:
          type: string
          format: date
        time:
          type: string
        guests:
          type: integer
        preference_id:
          type: string
        guest:
          $ref: '#/components/schemas/GuestInput'
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
              title:
                type: string
              detail:
                type: string
    ResourceObject:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        attributes:
          type: object
          additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token (the API key Eat App issues to a partner or Concierge user). Sent as Authorization: Bearer <api_token>.'
